main {
    display: flex;
    text-align: center;
}

section {
    flex-basis: 50%;
    height: 90vh;
}

img {
    width: 80%;
    height: 70%;
    margin-top: 10px;
    object-fit: contain;
}

textarea {
    resize: none;
    width: 90%;
    height: 80vh;
}

label {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}

form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    margin-top: 20px;
    width: 30%;
    padding: 10px 0;
    border-radius: 5px;
    border: .1px lightgray solid;
    cursor: pointer;
}

input[type="submit"]:active {
    background-color: gray;
}

button {
    margin-top: 10px;
}